<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.YOUR_CLIENT_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bistscreener</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_CLIENT_ID</key>
	<string>YOUR_CLIENT_ID.apps.googleusercontent.com</string>
	<key>GOOGLE_REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.YOUR_CLIENT_ID</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>PRIVACY_POLICY_URL</key>
	<string>https://example.com/privacy</string>
	<key>TERMS_OF_USE_URL</key>
	<string>https://example.com/terms</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
